
extends customlayout

block content
  // Navbar
  nav.navbar.navbar-toggleable-md.navbar-dark.green
    .container
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav1', aria-controls='navbarNav1', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#')
      #navbarNav1.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/')
                | Home 
            li.nav-item
              a.nav-link(href='/portal') Subjects
            if (user.acctype === 'admin')
              li.nav-item
                a.nav-link(href='/subjects/addnew') Add
              li.nav-item
                a.nav-link(href='/subjects/edit/users') Accounts
              li.nav-item.active
                a.nav-link(href='/subjects/approval') Item Approval
          li.nav-item.form-inline
              a.nav-link(href='/auth/logout') Log out
  .container
    ul.animated.fadeInUp
      li
        .row.justify-content-center
                .col-8
                  .card-block
                      // Header
                      .text-center
                        h3
                          i.fa
                          |  Item Approval
                        hr.mt-2.mb-2
                      br
                      br
                      table.table
                        thead
                          tr
                            th Item Description
                            th Item Type
                            th Subject Code
                            th Submitted Date
                            th Actions
                        tbody
                          for item in items
                            if (item.approval!=='approved')
                              //- li
                              //-   a.panel-block.is-active(href="#{item.link}" ) #{item.description}                        
                              tr
                                td 
                                  a(href="#{item.link}" target="_blank") #{item.description}
                                td #{item.type}
                                td #{item.subject}
                                td #{moment(item.createdate).format("LLL")}
                                td 
                                  a.red-text(href="/subjects/approval/#{item._id}")
                                    button.btn.btn-success
                                      | Approve 
                                  a.red-text(href="/subjects/approval/#{item._id}/decline")
                                    button.btn.btn-danger
                                      | Decline              
                      .text-center
                          a.btn.btn-success(href='/portal') Back
          

  include customfooter

              